!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      lgtm
  %body
    #description
      http://#{@domain}/:url_of_animated_gif

    #bookmarklet_wrapper
      bookmarklet:
      %a{ href: "javascript:(function() {location.href = 'http://#{@domain}/' + location.href;})()" }
        LGTM

    #ext_wrapper
      Also you can copy link / markdown easily with
      %a{ href: "https://chrome.google.com/webstore/detail/lgtmify/nbbfoappojcjaihpopkiekdleojmmffe", target: '_blank' }
        Chrome Extension

    %img{ src: '/http://24.media.tumblr.com/ce21b5fa061fe8f71d500a6a2115bc83/tumblr_n5e7ftG1321qz4e26o1_500.gif', id: 'demo' }

    #github_link
      %a{ href: 'https://github.com/negipo/lgtm' }
        github
